{% extends 'store/base.html' %}
{% block title %}Discounts{% endblock %}
{% block content %}
<div class="entity-container">
    <div class="entity-header">
        <h1>Discounts</h1>
        <a href="{% url 'discount_create' %}" class="button">+ Add Discount</a>
    </div>

    {% if discounts %}
        <ul class="entity-list">
            {% for discount in discounts %}
                <li class="entity-item">
                    <a href="{% url 'discount_detail' discount.pk %}" class="entity-link">
                        <span>
                            <span class="entity-link-main">{{ discount.name }}</span>
                            <span class="entity-link-meta">
                                {{ discount.percent_off }}% • {{ discount.start_date }} to {{ discount.end_date }}
                            </span>
                        </span>
                        <span class="entity-link-arrow">&rarr;</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="entity-empty">
            <p>No discounts yet.</p>
        </div>
    {% endif %}
</div>
{% endblock %}