
-- Supermarket Management System — Database DDL


create database if not exists supermarket_backup_db;
use supermarket_backup_db;


-- Table creation

create table category (
    category_id integer auto_increment not null primary key,
    name varchar(50) not null unique,
    description longtext null
);

create table customer (
    customer_id integer auto_increment not null primary key,
    first_name varchar(100) not null,
    last_name varchar(100) not null,
    phone varchar(20) null unique,
    email varchar(100) null unique
);

create table employee (
    employee_id integer auto_increment not null primary key,
    first_name varchar(100) not null,
    last_name varchar(100) not null,
    role varchar(50) not null,
    email varchar(100) null unique,
    user_id integer null unique,
    phone varchar(20) null
);

create table supplier (
    supplier_id integer auto_increment not null primary key,
    name varchar(100) not null,
    contact_phone varchar(20) null,
    email varchar(100) null unique
);

create table discount (
    discount_id integer auto_increment not null primary key,
    name varchar(100) not null,
    percent_off numeric(5, 2) not null,
    start_date date not null,
    end_date date not null,
    constraint discount_percent_off_range check (percent_off >= 0 and percent_off <= 100),
    constraint discount_end_after_start check (end_date >= start_date)
);

create table product (
    product_id integer auto_increment not null primary key,
    name varchar(100) not null,
    unit_price numeric(10, 2) not null,
    barcode varchar(50) not null unique,
    expiry_date date null,
    category_id integer not null,
    supplier_id integer not null,
    constraint product_unit_price_gte_0 check (unit_price >= 0)
);

create table sale (
    sale_id integer auto_increment not null primary key,
    sale_date datetime(6) not null,
    total_amount numeric(10, 2) not null,
    customer_id integer null,
    employee_id integer not null,
    constraint sale_total_amount_gte_0 check (total_amount >= 0)
);

create table sale_item (
    sale_item_id integer auto_increment not null primary key,
    quantity integer not null,
    line_total numeric(10, 2) not null,
    discount_id integer null,
    product_id integer not null,
    sale_id integer not null,
    constraint sale_item_quantity_gt_0 check (quantity > 0),
    constraint sale_item_line_total_gte_0 check (line_total >= 0)
);

create table purchase_order (
    po_id integer auto_increment not null primary key,
    order_date datetime(6) not null,
    status varchar(30) not null,
    supplier_id integer not null
);

create table purchase_order_item (
    po_item_id integer auto_increment not null primary key,
    quantity integer not null,
    unit_cost numeric(10, 2) not null,
    po_id integer not null,
    product_id integer not null,
    constraint po_item_quantity_gt_0 check (quantity > 0),
    constraint po_item_unit_cost_gte_0 check (unit_cost >= 0)
);

create table loyalty_card (
    card_id integer auto_increment not null primary key,
    points_balance integer not null,
    issued_date date not null,
    customer_id integer not null unique,
    constraint loyalty_points_balance_gte_0 check (points_balance >= 0)
);

create table inventory (
    inventory_id integer auto_increment not null primary key,
    quantity_on_hand integer not null,
    reorder_level integer not null,
    product_id integer not null unique,
    constraint inventory_qty_on_hand_gte_0 check (quantity_on_hand >= 0),
    constraint inventory_reorder_level_gte_0 check (reorder_level >= 0)
);


-- Foreign keys




alter table product
    add constraint product_category_id_fk_category_category_id
    foreign key (category_id) references category(category_id);

alter table product
    add constraint product_supplier_id_fk_supplier_supplier_id
    foreign key (supplier_id) references supplier(supplier_id);

alter table sale
    add constraint sale_customer_id_fk_customer_customer_id
    foreign key (customer_id) references customer(customer_id);

alter table sale
    add constraint sale_employee_id_fk_employee_employee_id
    foreign key (employee_id) references employee(employee_id);

alter table sale_item
    add constraint sale_item_discount_id_fk_discount_discount_id
    foreign key (discount_id) references discount(discount_id);

alter table sale_item
    add constraint sale_item_product_id_fk_product_product_id
    foreign key (product_id) references product(product_id);

alter table sale_item
    add constraint sale_item_sale_id_fk_sale_sale_id
    foreign key (sale_id) references sale(sale_id);

alter table purchase_order
    add constraint purchase_order_supplier_id_fk_supplier_supplier_id
    foreign key (supplier_id) references supplier(supplier_id);

alter table purchase_order_item
    add constraint purchase_order_item_po_id_fk_purchase_order_po_id
    foreign key (po_id) references purchase_order(po_id);

alter table purchase_order_item
    add constraint purchase_order_item_product_id_fk_product_product_id
    foreign key (product_id) references product(product_id);

alter table loyalty_card
    add constraint loyalty_card_customer_id_fk_customer_customer_id
    foreign key (customer_id) references customer(customer_id);

alter table inventory
    add constraint inventory_product_id_fk_product_product_id
    foreign key (product_id) references product(product_id);




-- Indexes for faster lookup


create index idx_product_name on product(name);
create index idx_sale_date on sale(sale_date);
create index idx_po_date on purchase_order(order_date);